<header>

  <!--
<nav class="navbar bg-primary navbar-dark navbar-expand-sm">
  
   <ul class="navbar-nav">
   
      <li>
          <a routerLink="Entries" routerLinkActive="active" class="nav-link" id="entry"> Entry List </a>
      </li>
      <li>
          <a routerLink="Create-Entries" routerLinkActive="active" class="nav-link" id="create-entry"> Add Entry </a>
      </li>
   </ul>
  -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Shop Management System</a>
      </div>

      <ul class="nav navbar-nav">
        <li>
          <a routerLink="Entries" routerLinkActive="active" class="nav-link" id="entry"> Entry List </a>
      </li>
      <li>
          <a routerLink="Create-Entries" routerLinkActive="active" class="nav-link" id="create-entry"> Add Entry </a>
      </li>
      </ul>
 
    </div>
  </nav>
</header>


<h2 class="text-center">Shop Microservice</h2>

<div class="container">
 <!--<app-entry-list></app-entry-list>--> 

 <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container"></div>

    <span> Developed By Roy,Suvendu</span>
</footer>